                            :root {
                               /*colors*/
                               --DesaturatedRed: hsl(0, 36%, 70%);
                               --SoftRed: hsl(0, 93%, 68%);
                               --DarkGrayishRed: hsl(0, 6%, 24%);
                               /*fonts*/
                               --FontSize: 16px;
                               --font: 'Josefin Sans';
                               --gradient1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
                               --gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
                           }
                           
                           body {
                               font-family: var(--font);
                               font-size: var(--FontSize);
                               text-align: center;
                               background: var(--gradient1);
                               color: var(--DarkGrayishRed);
                               font-weight: 300;
                               margin: 0;
                           }
                           
                           .home {
                               display: grid;
                               grid-template-columns: 1fr;
                               grid-template-rows: 20px 2fr 2fr 1fr;
                               grid-gap: 20px;
                               margin-top: 30px;
                           }
                           
                           .container {
                               width: 300px;
                               margin: 0 auto;
                           }
                           
                           .logo {
                               display: flex;
                               justify-content: start;
                           }
                           
                           .home__logo {
                               display: flex;
                               justify-content: flex-start;
                           }
                           
                           .home__logo img {
                               width: 100px;
                           }
                           
                           .home__hero {
                               background-image: url('images/hero-mobile.jpg');
                               background-repeat: no-repeat;
                               background-position: center;
                               background-size: contain;
                           }
                           
                           .home__text {
                               max-width: 300px;
                               margin: auto;
                           }
                           
                           .home__text h1 {
                               font-weight: 300;
                               font-size: 3em;
                               text-transform: uppercase;
                               letter-spacing: 0.2em;
                           }
                           
                           .home__text h1 strong {
                               font-weight: 400;
                           }
                           
                           .home__text p {
                               font-size: 0.9em;
                           }
                           
                           .home__input {
                               position: relative;
                           }
                           
                           .home__input input {
                               color: var(--DarkGrayishRed);
                               font-weight: 300;
                               font-family: var(--font);
                               border-radius: 20px;
                               height: 35px;
                               position: relative;
                               background-color: var(--gradient1);
                               padding-left: 15px;
                               width: 90%;
                               outline: none;
                           }
                           
                           .home__input article img {
                               height: 15px;
                           }
                           
                           .home__input article {
                               background: var(--gradient2);
                               border-radius: 20px;
                               height: 41px;
                               width: 62px;
                               display: flex;
                               justify-content: center;
                               align-items: center;
                               position: absolute;
                               right: 0;
                               top: 0;
                               cursor: pointer;
                           }
                           
                           .icon--error {
                               position: absolute;
                               left: 70%;
                               top: 5%;
                               height: 1.2em;
                           }
                           
                           .hidden {
                               display: none;
                           }
                           
                           .text--error {
                               color: var(--SoftRed);
                               font-size: 0.8em;
                               padding-left: 15px;
                               margin-top: 5;
                           }
                           
                           .border--error {
                               border: 2px solid var(--SoftRed);
                           }
                           
                           .border {
                               border: 1px solid var(--DarkGrayishRed);
                           }
                           
                           .arrow--error {
                               background-color: var(--SoftRed);
                           }